<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href="favicon.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <meta name="referrer" content="origin"> -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<title>Book Details</title>
</head>


<body>

	<!-- INSERTING NAVBAR COMPONENT-->
	<div th:insert="components/navbar :: navbar"></div>

	<div class="container">
		
		<!-- INSERTING BOOK-SEARCH COMPONENT-->
		<div th:insert="components/book-search :: search-panel"></div>

		<section class="content">

			<div class="card">
				<div class="row g-0">
					<div class="col-md-4">
						<img th:src="${coverImage}" class="img-fluid rounded-start" alt="...">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title display-5" th:text="${book.name}">Name</h5>
							<p class="card-text display-6" th:text="${book.authorNames}">Author name</p>
							<p class="card-text" th:text="${book.description}">Book description</p>
							<p class="card-text">Published Date: <small class="text-muted"
									th:text="${book.publishedDate}">2020-01-01</small></p>

							<!--SHOW LOGIN CARD IF USER ISNT LOGGED IN -->
							<div class="card" th:unless="${userLoginId}">
								<div class="card-body">
									<h5 class="card-title">Login to track this book</h5>
									<p class="card-text">Mark reading dates, completion status and star ratings</p>
									<a href="/oauth2/authorization/google" class="btn btn-primary">Login via Google</a>
									<a href="/oauth2/authorization/github" class="btn btn-dark">Login via GitHub</a>
								</div>
							</div>

							<!--SHOW FORM IF USER IS LOGGED IN -->
							<form th:if="${userLoginId}" th:attr="action=@{/add-user-book}" method="POST">

								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<input type="hidden" name="bookId" th:value="${book.id}" />

								<div class="mb-3">
									<label for="startDate" class="form-label">Start date</label>
									<input type="date" class="form-control" id="startDate" name="startDate"
										th:value="${userBooks.startDate}">
								</div>

								<div class="mb-3">
									<label for="endDate" class="form-label">Completed date</label>
									<input type="date" class="form-control" id="endDate" name="endDate"
										th:value="${userBooks.endDate}">
								</div>

								<div class="mb-3">
									<label for="status" class="form-label">Status</label>
									<select id="status" name="readingStatus" class="form-select"
										aria-label="Reading status" th:field="${userBooks.readingStatus}">
										<!-- adding numbers to option values so I can sort them in user dashboard ie. BooksByUser-->
										<option selected value="3">Select Status</option>
										<option value="0-reading">Reading</option>
										<option value="1-finished">Finished</option>
										<option value="2-aborted">Aborted</option>
									</select>
								</div>

								<div class="mb-3">
									<label for="rating" class="form-label">Rating</label>
									<select id="rating" name="rating" class="form-select" aria-label="Rating"
										th:field="${userBooks.rating}">
										<option selected value="0">Select Rating</option>
										<option value="1">&#9733;</option>
										<option value="2">&#9733;&#9733;</option>
										<option value="3">&#9733;&#9733;&#9733;</option>
										<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
										<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>

							</form>

						</div>

					</div>
				</div>
			</div>


		</section>

	</div>

</body>

</html>