<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Best Reads</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<base href="/" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</head>

<body>
	<!-- INSERTING NAVBAR COMPONENT-->
	<div th:insert="components/navbar :: navbar"></div>

	<div class="container">
	<!-- INSERTING BOOK-SEARCH COMPONENT-->
		<div th:insert="components/book-search :: search-panel"></div>

		<section class="content">

			<h1>My Books</h1>

			<div class="card mb-3" style="max-width: 540px;" th:each="book: ${books}">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							<img th:src="${book.coverUrl}" class="img-fluid rounded-start">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<a th:href="@{'/books/' + ${book.bookId}}" class="card-title"
									th:text="${book.bookName}">Name</a>
								<p class="card-text" th:text="${book.authorNames}">Author name</p>

								<div th:switch="${book.readingStatus}">
									<p th:case="'0-reading'" class="card-text">Currently Reading</p>
									<p th:case="'1-finished'" class="card-text">Finished</p>
									<p th:case="'2-aborted'" class="card-text">Aborted</p>
								</div>

								<p class="card-text">
									<!-- for each rating print star(&#9733;), therefore rating of 2 will print 2 stars and so on-->
									<span th:each="rating: ${#numbers.sequence(0, book.rating - 1)}">
										&#9733;
									</span>
								</p>

							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
</body>

</html>