<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Best Reads - Search</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>


<body>

	<!-- INSERTING NAVBAR COMPONENT-->
	<div th:insert="components/navbar :: navbar"></div>

	<div class="container">

		<!-- INSERTING BOOK-SEARCH COMPONENT-->
		<div th:insert="components/book-search :: search-panel"></div>

		<section class="content">

			<div class="card-group">

				<div class="card" style="flex: 0 0 18%; margin: 30px;" th:each="result: ${searchResults}">
					<img th:src="${result.cover_i}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title" th:text="${result.title}">Card title</h5>
						<a href="#" th:href="@{'/books/' + ${result.key}}" class="btn btn-primary">View book</a>
					</div>
				</div>
			</div>

		</section>

	</div>

</body>

</html>